
	/*Beginn Header*/

#head{
	display: flex;
	margin-top: 30px;
	margin-left: 30px;
}

#logo{
	width: 150px;
	min-width: 150px;
}


#logo img{
	width: 100%;
}

#navigation a:not(:last-child) {
	border-right: 2px solid grey;
	padding-right: 10px;
	padding-left: 10px;
/*pseude selektoren berücksichtinge (z.B. not(:last-child)) bestimmte stati*/
}

h1{
	font-size: 45px;
}

.left{
	text-align: left;
}

.middle{
	text-align: center;
}

.right{
	text-align: right;
	padding-left: 10px;
}

a{
	text-decoration-line: none;
	color: black;
}


a:hover {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

#top{
	margin-left: 20px;
}

	/*Ende Header*/


	/*Beginn Content*/

main{
	margin-left: 30px;
}

#content{
	display: flex;
}

h2{
	display: block;
    font-size: 1.5em;
    margin-top: 0.00em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3{
	display: block;
    font-size: 1.17em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

 p {
    display: block;
    margin-top: 0em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

#h3{
	margin-top: 0px;
}

#figure-content{
	width: 150px;
	min-width: 150px;
}


#figure-content img{
	margin-top: 15px;
	width: 100%;
	margin-left: 0px;
}

#main{
	margin-left: 45px;
}









